.displayTable
{
    /* width:100% ; */
    margin: 10%;
}

.btnPrimary
{
    padding: 10px 15px;
    border: 0px solid black;
    /* background-color: rgb(19, 56, 179); */
    background-color: #1479FF;
    color: white;
    border-radius: 3px;
    margin-top: 10px;
    cursor: pointer;
}

.formControl
{
    padding:10px 10px;
    width: 50%;
    border: 0px solid rgba(109, 109, 109, 0.753);
    background-color: rgb(224, 221, 221);
    border-radius: 2px;  
    margin: 10px 0px; 
}

.redirectToLogin
{
    display: flex;
    /* flex-direction: column; */
    margin-top: 10px;
    font-size: 90%;
}