.room-list-container
{
    width: 100%;
    /* height: 98.5vh; */
    max-height: 98.5vh;
    overflow-y: hidden;
    display: flex;
    margin-top: 1.5vh;
    justify-content: center;
}

.rooms-content
{
    /* margin: 0% 0% 0% 0%; */
    width: 96%;
    height: 100vh;
    max-height: 100vh;
    overflow-y: scroll;
    /* background-color: rgb(196, 94, 94); */
    display: flex;
    flex-wrap:wrap;
    align-items: flex-start;
    justify-content:flex-start;
}
.single-content
{
    background-color: white;
    text-decoration: none;
    color: black;
    width: 22%;
    margin-right: 3%;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(44, 44, 44, 0.342) ;
    margin-bottom: 20px;
    cursor: pointer;
}

.single-content img
{
    width:210px;
    border-radius: 2.5px;
}
.name-rate
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rating
{
    display: flex;
    align-items: center;
    font-size: 75%;
    color:white;
    background-color:#1479FF ;
    padding: 2px 5px;
    border-radius: 2px;
}

.rating ion-icon
{
 margin-right: 3px;
}



.single-content ul
{
    font-size: 80%;
    margin: 10px 0px;
    list-style: none;
}

.single-content li
{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.single-content li ion-icon
{
    margin-right: 5px;
    color: green;
}

