.login-container
{
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content
{
  padding:50px 25px;
  box-shadow: 0px 0px 5px  gray;  
  border-radius: 5px;
  width: 30%;
  
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.input-content
{
    display: flex;
    justify-content:space-around;
    width:100% ;
    margin: 10px 0px; 
}

.content label
{
    width:30% ;
}
.content input
{
    padding:5px 5px;
    width: 60%;
    border: 0px solid rgba(109, 109, 109, 0.753);
    background-color: rgb(224, 221, 221);
    border-radius: 2px;   
}

.button-container
{
    width: 98%;
    margin: 1%;
}
.button-container button
{
    padding: 10px 15px;
    border: 0px solid black;
    /* background-color: rgb(19, 56, 179); */
    background-color: #1479FF;
    color: white;
    width: 100%;
    border-radius: 3px;
    margin-top: 15px;
    cursor: pointer;
    
 
}

.register
{
  font-size: 90%; 
  margin-top: 5px;
  text-decoration: underline; 
  margin-right: 15px;
}


