.displayTable
{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.displayTableCell
{
    padding:50px 25px;
    box-shadow: 0px 0px 5px  gray;  
    border-radius: 5px;
    width: 30%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;   
}

h1
{
    text-align: center;
}

input
{
    padding:10px 5px;
    width: 100%;
    margin-top: 5px;
    border: 0px solid rgba(109, 109, 109, 0.753);
    background-color: rgb(224, 221, 221);
    border-radius: 2px;   
}

.formGroup
{
    margin-top: 15px;
}
.btn
{
    padding: 10px 15px;
    border: 0px solid black;
    /* background-color: rgb(19, 56, 179); */
    background-color: #1479FF;
    color: white;
    width: 100%;
    border-radius: 3px;
    margin-top: 15px;
    cursor: pointer;
    
 
}