.dashboard-container
{
    display: flex;
    width: 100%;
    height: 100vh;
}

.nav-bar
{
  width:16%;
  /* background-color: aqua;   */
}

.list
{
    display: flex;
    align-items: center;
    padding: 10px 0px;
    width: 100%;
    color: #1479FF;
}
.list:hover
{
    color: white;
    /* background-color: black; */
    background-color: #1479FF;
    cursor: pointer;
}
.menu
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu ion-icon
{
    font-size: 20px;
    margin-right: 15px;
    margin-left: 35px;
}
h2
{
    text-align: center;
    padding: 15px 0px 30px 0px;
}
.content
{
  width: 84%;  
  /* background-color: rgb(190, 190, 190); */
  background-color: hsl(214, 78%, 91%);
}